<section class="global-section asetdesa pt-4">
  <div class="container-fluid">
    <div class="row">
      <%- include('./side-nav'); %>

      <div class="col-md-10">
        <h3 class="font-weight-bold mb-3">Aset Desa</h3>

        <div class="row mt-2 p-3">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12">
                <table class="table bg-white">
                  <thead>
                    <tr>
                      <th scope="col" colspan="4" class="align-middle">
                        <h5 class="font-weight-bold" style="padding:10px 0px;">Aset Perkebunan dan Pertanian</h5>
                      </th>
                    </tr>
                    <tr>
                      <td>Kopi</td>
                      <td class="font-weight-bold">10 Hektar</td>
                    </tr>
                    <tr>
                      <td>Cengkeh</td>
                      <td class="font-weight-bold">10 Hektar</td>
                    </tr>
                    <tr>
                      <td>Sayuran</td>
                      <td class="font-weight-bold">1 Hektar</td>
                    </tr>
                    <tr>
                      <td>Padi</td>
                      <td class="font-weight-bold">5 Hektar</td>
                    </tr>
                  </thead>
                </table>
              </div>

              <div class="col-md-12">
                <table class="table bg-white">
                  <thead>
                    <tr>
                      <th scope="col" colspan="4" class="align-middle">
                        <h5 class="font-weight-bold" style="padding:10px 0px;">Aset Perikanan</h5>
                      </th>
                    </tr>
                    <tr>
                      <td>Usaha Perikanan gurame dan nila</td>
                    </tr>
                    <tr>
                      <td>Usaha Perikanan lele</td>
                    </tr>
                    <tr>
                      <td>Usaha Penggemukan sapi</td>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12">
                <table class="table bg-white">
                  <thead>
                    <tr>
                      <th scope="col" colspan="4" class="align-middle">
                        <h5 class="font-weight-bold" style="padding:10px 0px;">Aset UMKM</h5>
                      </th>
                    </tr>
                    <tr>
                      <td>Batik Tulis Asyifa</td>
                    </tr>
                    <tr>
                      <td>Batik Tulis Srikandi</td>
                    </tr>
                    <tr>
                      <td>Batik Tulis Deandra</td>
                    </tr>
                    <tr>
                      <td>Produksi Kopi Jempol</td>
                    </tr>
                    <tr>
                      <td>Produksi dan penjualan bakso CV Prabu Han Djaya Abadi</td>
                    </tr>
                    <tr>
                      <td>Produksi kulit lumpia</td>
                    </tr>
                    <tr>
                      <td>Produksi alat perkebunan karet</td>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>