<section class="global-section info-demografis pt-4">
  <div class="container-fluid">
    <div class="row">
      <%- include('./side-nav'); %>

      <div class="col-md-10">
        <button id="btn-sidenav" class="btn btn-primary float-left mr-2" onclick="openNav()"><i class="fas fa-align-justify"></i></button>
        <h3 class="font-weight-bold mb-3">Info Demografis</h3>
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                <h6 class="font-weight-bold float-left">Jumlah Penduduk</h6>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-8">
                    <ul>
                      <li>
                        <i class="far fa-circle pr-3"></i> Laki-Laki
                        <b class="float-right">3.327</b>
                        <hr>
                      </li>
                      <li>
                        <i class="far fa-circle pr-3"></i> Perempuan
                        <b class="float-right">2.910</b>
                        <hr>
                      </li>

                      <li>
                        <b>Total Penduduk</b>
                        <b class="float-right">6.237</b>
                      </li>

                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

          <div class="col">
            <table class="table bg-white">
              <thead>
                <tr>
                  <th scope="col" colspan="4" class="align-middle">
                    <h5 class="font-weight-bold" style="padding:10px 0px;">Komposisi Penduduk</h5>
                  </th>
                </tr>
                <tr>
                  <td>Suku Lampung</td>
                  <td class="font-weight-bold">30%</td>
                </tr>
                <tr>
                  <td>Suku Jawa</td>
                  <td class="font-weight-bold">40%</td>
                </tr>
                <tr>
                  <td>Palembang</td>
                  <td class="font-weight-bold">10%</td>
                </tr>
                <tr>
                  <td>Suku Ogan</td>
                  <td class="font-weight-bold">5%</td>
                </tr>
                <tr>
                  <td>Suku Komering</td>
                  <td class="font-weight-bold">5%</td>
                </tr>
                <tr>
                  <td>Suku China</td>
                  <td class="font-weight-bold">5%</td>
                </tr>
                <tr>
                  <td>Lain-lain</td>
                  <td class="font-weight-bold">5%</td>
                </tr>
              </thead>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>